<?xml version="1.0"?>
<launch>
  <!-- Load all parameters -->
  <rosparam command="load" file="$(find learningmpc_nonlinear)/Lmpc_params_dspace_nodert.yaml"/>
  <param name="waypoint_file" value ="$(find learningmpc_nonlinear)/data/30m_circle_right.csv"/>
  <!-- Launch the learning MPC -->
  <node pkg="learningmpc_nonlinear" name="record_init_ss_nonlinear" type="record_init_ss_nonlinear" output="screen">
  </node>

</launch>
