<?xml version="1.0"?>
<launch>
  <!-- Load all parameters -->
  <rosparam command="load" file="$(find nonlinear_mpc_qp)/Lmpc_params_dspace_nodert.yaml"/>
  <param name="waypoint_file" value ="$(find nonlinear_mpc_qp)/data/centerline_waypoints_handling_course.csv"/>
  <param name="init_data_file" value ="$(find nonlinear_mpc_qp)/data/initial_safe_set_dspace_new_10ms_nodert.csv"/>
  <!-- Launch the learning MPC -->
  <node pkg="nonlinear_mpc_qp" name="LMPC_nonlinear_qp" type="LMPC_nonlinear_qp" output="screen">
  </node>

</launch>
